# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/.kotlin/

# iOS & macOS
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux & Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.swp

# Vercel
.vercel/

# Misc
.kilo/
.kombai/
